<template>
  <section class="hero is-light is-small">
    <section class="hero-body">
      <section class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column">
          <h1 v-if="drink !=null" class="title is-1">{{drink.name}}</h1>
          <h1 v-else class="title is-3">
            Lo sentimos!
            <br />no hemos encontrado la bebida que buscas.
          </h1>
        </div>
      </section>

      <section v-if="drink != null" class="columns">
        <div class="column is-one-fifth"></div>
        <div
          v-if="drink.image"
          class="column is-one-fifth is-3 drink-image"
          :style="`background-image:url('${drink.image.url}')`"
        ></div>
        <div class="column is-two-fifths drink-info">
          <b-tabs>
            <b-tab-item icon="file" label="Información">
              <div class="mark" v-html="$md.render(drink.description || '')"></div>
              <div class="mark" v-html="$md.render(drink.process || '')"></div>
            </b-tab-item>
            <b-tab-item v-if="drink.youtube_id" icon="youtube" label="Video">
              <iframe
                class="drink-video"
                :src="'https://www.youtube.com/embed/'+drink.youtube_id"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </b-tab-item>
          </b-tabs>
        </div>
      </section>
    </section>
  </section>
</template>

<script>
export default {
  async asyncData({ params, $axios }) {
    let drink = null;
    try {
      ({ data:drink } = await $axios.get(`/api/drinks/${params.id}`));
    } catch (error) {
      console.log("Error getting drink" + error);
    }
    return { drink };
  },

  head() {
    let drink = this.drink;
    const title = drink ? drink.name : "Bebida no encontrada";
    const description = drink ? (drink.description || '').slice(0, 50) : "";
    const url =
      "http://bartenderpro.xyz/drinks/" +
      (drink ? drink.id : 0);
    const image = drink? (drink.cover ? drink.cover.url : 'http://bartenderpro.xyz/image.jpg') : 'https://bartenderpro.xyz/image.jpg';
    return {
      title: title,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: description,
        },
        {
          hid: `keywords`,
          name: "keywords",
          keywords: "bebidas drink drinks alcochol bars disco",
        },
        { property: "og:type", content: "website" },
        { property: "og:url", content: url },
        { property: "og:title", content: title },
        { property: "og:description", content: description },
        { property: "og:image", content: image },

        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: url },
        { property: "twitter:title", content: title },
        { property: "twitter:description", content: description },
        { property: "twitter:image", content: image },
      ],
    };
  },
};
</script>
<style scoped>
.drink-image {
  border-radius: 30px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  max-height: 500px;
}

.drink-info {
  background-color: white;
  border-radius: 30px;
}

.hero .tabs ul {
  border-bottom: 1px solid #dbdbdb;
}
.drink-video {
  width: 560px;
  height: 400px;
}
</style>
