<template>
  <div class="column is-one-fifth rounded">
    <n-link :to="to">
    <div class="" style="">
      <div class="card-image">
        <div class="drink-image" :style="`background-image:url('${imageUrl}');`"></div>
      </div>
      <div class="card-content" style="max-width: 500px;margin: auto;">
        <p class="title is-4">{{title}}</p>
        <div class="content">{{content? content.slice(0,50) : ''}}...</div>
      </div>
    </div>
    </n-link>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },

    imageUrl: {
      type: String,
    },

     to: {
      type: String,
    },

    content: {
      type: String,
    },
  },
};
</script>
<style scoped>
a{
  color: black;
}
.drink-image {
  border-radius: 50%;
  border: 0px;
  width: 200px;
  height: 200px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 11px rgba(0,0,0,0.3);
  margin: auto;
}

.drink-image:hover {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
.drink-image:active {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
</style>
