<template>
  <div class="round" :style="backgroundRule">
  </div>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true
    },
  },

  data(){
    return {
      backgroundRule:''
    }
  },

   mounted(){
     this.backgroundRule = `background-image:url('${this.src}')`
   }
}
</script>

<style scoped>
.round{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid gray;
}
</style>
