<template>
  <section class="hero is-light is-small">
    <section class="hero-body">
      <section class="columns">
        <div class="column is-one-fifth"></div>
        <div v-if="category" class="column">
          <h1 class="title is-1">{{category.Name}}</h1>
          <h1 class="title is-5" style="margin-top:100px;">{{category.description}}</h1>
        </div>
        <div v-else class="column">
          <h1 class="title is-1">Bebida no encontrada</h1>
        </div>
        <div class="column is-one-fifth"></div>
      </section>
      <section class="columns" style="margin-top:100px;">
        <div class="column is-one-fifth"></div>
        <div class="column">
          <div v-if="category" class="columns is-multiline">
            <Card
              v-for="drink of category.drinks"
              :key="drink.id"
              :to="'/drinks/'+drink.id"
              :image-url="drink.image? drink.image.url : ''"
              :title="drink.name"
              :content="drink.description"
            ></Card>
          </div>
        </div>
        <div class="column is-one-fifth"></div>
      </section>
    </section>
  </section>
</template>

<script>
export default {
  async asyncData({ params, $axios }) {
    let category = null;
    try {
      ({ data: category } = await $axios.get(`/api/categories/${params.id}`));
    } catch (error) {
      console.log("Error getting categories" + error);
    }
    return { category };
  },

  head() {
    let category = this.category;
    const title = category ? category.Name : "Categoria no encontrada";
    const description = category ? (category.description || '').slice(0, 50) : "";
    const url =
      "http://bartenderpro.xyz/categories/" +
      (category ? category.id : 0);
    const image = 'http://bartenderpro.xyz/image.jpg';

    return {
      title: title,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: description,
        },
        {
          hid: `keywords`,
          name: "keywords",
          keywords: "bebidas drink drinks alcochol bars disco",
        },
        { property: "og:type", content: "website" },
        { property: "og:url", content: url },
        { property: "og:title", content: title },
        { property: "og:description", content: description },
        { property: "og:image", content: image },

        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: url },
        { property: "twitter:title", content: title },
        { property: "twitter:description", content: description },
        { property: "twitter:image", content: image },
      ],
    };
  },
};
</script>
<style>
.drink-image {
  border-radius: 30px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.drink-info {
  background-color: white;
  border-radius: 30px;
}

.hero .tabs ul {
  border-bottom: 1px solid #dbdbdb;
}
.drink-video {
  width: 560px;
  height: 400px;
}
</style>
