
<template>
  <section class="hero is-medium is-light">
    <section class="hero-body">
      <section class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-one-half">
          <div class="columns is-8 is-multiline">
            <n-link
              class="column is-3 card"
              v-for="(category, index) of categories"
              :key="index"
              :to="'/categories/'+category.id"
            >{{category.Name}} ({{category.drinks.length}})</n-link>
          </div>
        </div>
        <div class="column is-one-fifth"></div>
      </section>
    </section>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isOpen: null,
    };
  },
  async asyncData({ params, $axios }) {
    let categories = [];

    try {
      ({ data: categories } = await $axios.get(
        `/api/categories?_sort=Name:asc`
      ));
    } catch (error) {
      console.log("error getting categories" + error);
    }
    return { categories };
  },

  head() {
    return {
      title: "Categorias",
      meta: [
        {
          hid: `description`,
          name: "description",
          content: "",
        },
        {
          hid: `keywords`,
          name: "keywords",
          keywords: "bebidas drink drinks alcochol bars disco",
        },
      ],
    };
  },
};
</script>
<style>
.drink-image {
  border: 1px solid gray;
  border-radius: 30px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.drink-info {
  background-color: white;
  border-radius: 30px;
}

.hero .tabs ul {
  border-bottom: 1px solid #dbdbdb;
}
.drink-video {
  width: 560px;
  height: 400px;
}
</style>
