<template>
  <div style="width: 100vw;overflow-x: hidden;">
    <no-ssr>
      <b-navbar>
        <template slot="brand">
          <b-navbar-item tag="router-link" :to="{ path: '/' }">
            <img src="/icon.svg" width="25px" />
            <h1 class="title is-6">Bartender Pro</h1>
          </b-navbar-item>
        </template>

        <template slot="end">
          <b-navbar-item>
            <n-link class="navbar-item" to="/">Inicio</n-link>
          </b-navbar-item>
          <b-navbar-item>
            <n-link to="/blog" class="navbar-item">Blog</n-link>
          </b-navbar-item>
          <b-navbar-item>
            <n-link to="/categories" class="navbar-item">Categorías</n-link>
          </b-navbar-item>
          <b-navbar-item>
            <button class="button is-success is-medium" @click="suscribeModal = true">¡Suscríbete!</button>
          </b-navbar-item>
        </template>
      </b-navbar>
    </no-ssr>
    <b-modal :active.sync="suscribeModal" has-modal-card aria-modal>
      <div class="card" style>
        <div class="card-image">
          <img width="500px" src="https://media.giphy.com/media/3osxYfo1Y0NtKdYJi0/giphy.gif" />
        </div>
        <div v-if="sentEmail == false" class="card-content" style="max-width: 500px;margin: auto;">
          <p class="title is-4">Suscribete a Bartender Pro</p>
          <div>
            <b-field
              label
              :type="validEmail ? 'is-email' : 'is-danger'"
              :message="validEmail? '' : 'Este correo es invalido'"
            >
              <b-input
                type="email"
                placeholder="juan@gmail.com"
                maxlength="30"
                v-model="emailInput"
                size="is-medium"
              ></b-input>
            </b-field>
            <button @click="sendEmail" class="button is-success is-medium">Suscribirme!</button>
          </div>
        </div>
        <div v-else class="card-content" style="max-width: 500px;margin: auto;">
            <h1 class="title is-3" v-if="successEmail"> Excelente! Ya estas suscrito Bartender Pro.</h1>            
            <h1 class="title is-3" v-else-if="repeatedEmail">Parece que ya te has registrado antes.</h1>            
            <h1 class="title is-3" v-else> Uups... parece que hubo un problema. Prueba más tarde.</h1>            
        </div>
      </div>
    </b-modal>
    <nuxt></nuxt>
    <div style="width:100%;display: flex; padding-top: 10px;">
      <a style="margin:auto" href="https://cristopherpinzon.gitlab.io/cv/">
        <img width="30px" src="/orca-final.png" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      suscribeModal: false,
      emailInput: "",
      validEmail: true,
      loading: false,
      successEmail: false,
      repeatedEmail: false,
      sentEmail: false,
    };
  },
  head() {
    return {
      script:[
        {'data-ad-client':'ca-pub-7753812825628562', "async":true,  src:"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
      ]
    };
  },

  methods: {
    sendEmail: async function() {
      if(this.validateEmail(this.emailInput)){
        this.validEmail = true
        this.loading = true
        let result = null
        try {
           const email = this.emailInput
           result = await this.$axios.post('/custom-api/subscribe',{email}) 
           this.successEmail = true
        } catch (error) {
          // console.log(error.response)
          if(error.response.status == 400){
            this.repeatedEmail = true
          }
        }
        this.loading = false
        this.sentEmail = true
      }else{
        this.validEmail = false
      }
    },
    validateEmail: function(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
  },
};
</script>
<style>
.mark {
  margin-bottom: 50px;
}
.mark p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mark ol,
.mark ul {
  margin-left: 50px;
}
.mark ul {
  list-style: disc;
}
</style>
