<template>
  <section class="hero is-small is-light">
    <section class="hero-body">
      <section v-if="post == null" class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="container">
            <h1>No hemos encontrado el post que estas buscando</h1>
          </div>
        </div>
      </section>
      <section class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="container">
            <img v-if="post && post.cover" :src="post.cover.url" />
          </div>
        </div>
      </section>
      <section v-if="post" class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="container">
            <h1 class="title is-1">{{post.title}}</h1>

            <div class="right">
              <span class>@{{post.created_by.firstname}}</span>
              <time
                :set="d = new Date(post.created_at)"
                datetime="2016-1-1"
              >{{d.toLocaleDateString()}}</time>
            </div>
          </div>
        </div>
      </section>
      <section v-if="post && post.content" class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="mark" v-html="$md.render(post.content)"></div>
        </div>
      </section>
    </section>
  </section>
</template>

<script>
export default {
  name: "Post",
  data() {
    return {
      isOpen: null,
    };
  },
  async asyncData({ params, $axios }) {
    let posts = [];
    try {
      ({ data: posts} = await $axios.get(
        `/api/posts?slug=${params.slug}&active=true`
      ));
    } catch (error) {
      console.log(error);
    }
    return { post: posts.length ? posts[0] : null };
  },

  head() {
    let post = this.post;
    const title = post ? post.title : "Post no encontrado";
    const description = post ? (post.content || '').slice(0, 50) : "";
    const url =
      "https//bartenderpro.xyz/blog/" +
      (post ? post.slug : "no-encontrado");
    const image = post ? (post.cover ? post.cover.url : "http://bartenderpro.xyz/image.jpg") : "http://bartenderpro.xyz/image.jpg";

    return {
      title: title,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: description,
        },
        {
          hid: `keywords`,
          name: "keywords",
          keywords: "bebidas drink drinks alcochol bars disco",
        },
        { property: "og:type", content: "website" },
        { property: "og:url", content: url },
        { property: "og:title", content: title },
        { property: "og:description", content: description },
        { property: "og:image", content: image },

        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: url },
        { property: "twitter:title", content: title },
        { property: "twitter:description", content: description },
        { property: "twitter:image", content: image },
      ],
    };
  },
};
</script>
<style scoped>
.right {
  float: right;
  display: flex;
  font-weight: bolder;
  color: #686868;
}
.right::after {
  float: clean;
}
.right span {
  margin-right: 10px;
}

.mark {
  font-size: x-large;
  text-align: justify;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mark p img {
  margin: auto;
}
</style>
