
<template>
  <section class="hero is-small is-light">
    <section class="hero-body">
      <section class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column is-one-half">
          <div class="columns is-multiline">
            <div v-for="post in posts" :key="post.id" class="column is-3">
              <n-link :to="'/blog/'+post.slug">
              <div class="card">
                <div v-if="post.cover" class="card-image">
                  <figure class="image is-4by3">
                    <img :src="post.cover.url" />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">{{post.title}}</p>
                    </div>
                  </div>

                  <div class="content">
                    <p>{{post.content? post.content.slice(0,50) : ''}}...</p>
                    <a>@{{post.created_by.firstname}}</a>
                    <a v-for="tag of post.tags.split(';')" :key="tag" href="#">#{{tag}}</a>
                    <br />
                    <time
                      :set="d = new Date(post.created_at)"
                      :datetime="d.toLocaleDateString()"
                    >{{d.toLocaleDateString()}}</time>
                  </div>
                </div>
              </div>
              </n-link>
            </div>
          </div>
        </div>
        <div class="column is-one-fifth"></div>
      </section>
    </section>
  </section>
</template>

<script>
export default {
  name: "Blog",
  data() {
    return {
    };
  },
  async asyncData({ params, $axios }) {
    let posts = [] 
    try {
    ({ data:posts, error } = await $axios.get(
      `/api/posts?_sort=created_at:desc`
    ));
    } catch (error) {
      console.log('error getting posts') 
    }
    return { posts };
  },

  head() {
    return {
      title: "Blog",
      meta: [
        {
          hid: `description`,
          name: "description",
          content: "",
        },
        {
          hid: `keywords`,
          name: "keywords",
          keywords: "bebidas drink drinks alcochol bars disco",
        },
      ],
    };
  },
};
</script>
<style scoped>
.m {
  padding: 5px;
}
</style>
