<template>
  <section>
    <section class="hero is-large center-background" style="background-image:url('/image.jpg')">
      <!-- <img class="drink-one" src="~/assets/drink.svg">
      <img class="drink-two" src="~/assets/drink2.svg">-->
      <div class="hero-body">
        <section style>
          <h3 class="title is-3 what-to-make">¿Qué prepararemos hoy?</h3>
        </section>

        <no-ssr>
          <b-field style="max-width:500px;margin:auto;margin-top:30px;">
            <b-autocomplete
              :data="options"
              :keep-first="true"
              :loading="isFetching"
              :open-on-focus="true"
              @typing="getAsyncData"
              @select="option => selected = option"
              icon="magnify"
              placeholder="Martini"
              field="title"
              rounded
              size="is-large"
            >
              <template slot-scope="props">
                <n-link :to="'/drinks/' + props.option.id">
                  <div class="media">
                    <div class="media-left">
                      <RoundThumbnail v-if="props.option.image" :src="props.option.image.url"></RoundThumbnail>
                      <b-icon v-else icon="glass-mug-variant" size="is-large"></b-icon>
                    </div>
                    <div class="title is-5">
                      <span>{{ props.option.name }}</span>
                      <br />
                      <small>{{ props.option.name_en }}</small>
                    </div>
                  </div>
                </n-link>
              </template>

              <template slot="empty">
                <h1 v-if="!isFetching" class="title is-5">Sin resultados</h1>
              </template>
            </b-autocomplete>
          </b-field>
        </no-ssr>
      </div>
    </section>
    <section>
      <section style="text-align:left; padding-left:50px;">
        <h1 class="title is-3" style="margin-top:25px;margin-bottom:25px;">Recientes</h1>
      </section>
      <section>
        <div class="columns">
          <Card
            v-for="drink of recent"
            :key="drink.id"
            :to="'/drinks/'+drink.id"
            :image-url="drink.image? drink.image.url : ''"
            :title="drink.name"
            :content="drink.description"
          ></Card>
        </div>
      </section>
    </section>
    <section>
      <section style="text-align:left; padding-left:50px;">
        <h1 class="title is-3" style="margin-top:25px;margin-bottom:25px;">Recomendados</h1>
      </section>
      <section>
        <div class="columns">
          <Card
            v-for="drink of recommended"
            :key="drink.id"
            :to="'/drinks/'+drink.id"
            :image-url="drink.image? drink.image.url : ''"
            :title="drink.name"
            :content="drink.description"
          ></Card>
        </div>
      </section>
    </section>
  </section>
</template>

<script>
import Card from "~/components/Card";
import RoundThumbnail from "~/components/RoundThumbnail";
import debounce from "lodash/debounce";
import qs from "qs";

export default {
  name: "HomePage",

  components: {
    Card,
    RoundThumbnail,
  },

  async asyncData({ params, $axios, getAsyncData }) {
    let recent,
      recommended,
      options = [];
    try {
      ({ data: recent } = await $axios.get(
        `/api/drinks?_sort=created_at:desc&_limit=5`
      ));
    } catch (error) {
      console.log("Errror while getting drinks: " + error);
    }

    try {
      ({ data: recommended } = await $axios.get(
        `/api/drinks?recommended=true&_limit=5`
      ));
    } catch (error) {
      console.log("Errror while getting drinks: " + error);
    }

    try {
      ({ data: options } = await $axios.get(`/api/drinks?_limit=20`));
    } catch (error) {
      console.log("Errror while getting drinks: " + error);
    }
    return { recent, options, recommended };
  },

  data() {
    return { options: [], selected: null, isFetching: false };
  },

  methods: {
    getAsyncData: debounce(async function (name) {
      this.isFetching = true;
      try {
        const search = qs.stringify({
          _where: {
            _or: [{ name_contains: name }, { name_en_contains: name }],
          },
        });
        const result = await this.$axios.get(`/api/drinks?${search}`);
        this.options = result.data;
      } catch (error) {
        this.options = [];
      }
      this.isFetching = false;
    }, 500),
  },
};
</script>

<style scoped>
.drink-one {
  position: absolute;
  right: 0;
  top: 150px;
  width: 50px;
}
.drink-two {
  position: absolute;
  right: 30px;
  top: 170px;
  width: 50px;
}

@media only screen and (min-width: 600px) {
  .drink-one {
    position: absolute;
    right: 0;
    top: 150px;
    width: 80px;
  }
  .drink-two {
    position: absolute;
    right: 30px;
    top: 170px;
    width: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .drink-one {
    position: absolute;
    right: 0;
    bottom: 250px;
    width: unset;
    top: unset;
  }
  .drink-two {
    position: absolute;
    right: 150px;
    bottom: 250px;
    width: unset;
    top: unset;
  }
}
.center-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.what-to-make {
  text-align: center;
  margin-bottom: 30px;
  color: white;
  text-shadow: 1px 1px 3px #000000;
}
</style>
